@font-face {
  font-family: 'iconfont';  /* project id 1244567 */
  src: url('//at.alicdn.com/t/font_1244567_zs5trtqkcrk.eot');
  src: url('//at.alicdn.com/t/font_1244567_zs5trtqkcrk.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1244567_zs5trtqkcrk.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1244567_zs5trtqkcrk.woff') format('woff'),
  url('//at.alicdn.com/t/font_1244567_zs5trtqkcrk.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1244567_zs5trtqkcrk.svg#iconfont') format('svg');
}
.iconfont{
      font-family:"iconfont" !important;
      font-size:20px;font-style:normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
    }